:root{
    --theme-color1:#168224;

    --theme-color2: #ff3e44;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 2px 2px 5px 2px #83838385;
    position: sticky;   
    top: 0; 
    z-index: 999;
}

.headerRight,.headerLeft{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.headerLeft img{
    height: 100%;
}

.headerLeft a, .headerLeft a:hover{
    color: black;
    background-color: none;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav li{
    padding: 0px 10px;
    
}

nav li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
    color: var(--theme-color1);
    text-decoration-color: var(--theme-color2);
}

/* MAIN */

main {
    padding-bottom: 50px;
}

main p{
    font-size: 16px;
    padding: 0px 10px;
}

.mainSection{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 150px;
    background: linear-gradient(42deg, var(--theme-color1), #34cbb6);
}

.mainRight{
    display: flex;
}

.mainRight img{
    width: 400px;
    height: 300px;
}

.mainLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mainLeft h1{
    font-size: 38px;
    padding: 10px 0px;
}

.mainLeft p{
    text-align: center;
    max-width: 70%;
    font-size: 18px;
}

/* END MAIN */

/* SECTION */

.section {
    line-height: 2;
    letter-spacing: 0.5px;
    padding: 30px 180px;
    color: #303030;
}

.section h1{
    font-size: 30px;
    color: var(--theme-color1);
}

.section h2{
    color: var(--theme-color1);
    text-decoration: underline;
    text-decoration-color: var(--theme-color2);
    padding: 0px 0px 0px 30px;
}

.section p{
    padding: 10px 10px 10px 30px;
}

.section ul {
    list-style-position: inside;
    padding: 0px 0px 0px 60px;
    margin: 10px 0px;
}

.section a{
    text-decoration: none;
    font-size: 18px;
}

.section li{
    padding: 5px 0;
}


hr{
    width: 70%;
    margin: 0px auto;
    border: 1px solid var(--theme-color2);
}

.icon{
    color: var(--theme-color2);
    margin-right: 5px;
}


#imgExample{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacherInfo{
   display: flex;
   flex-direction: row;
   background-color: white;
   width: 100%;
   padding: 20px;
   margin: 20px 0px 0px -20px;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 30px;
   border-radius: 50px;
   box-shadow: 5px 5px 15px #00000029;
}

.teacherInfo ul{
    list-style: none;
    padding: 10px;
}


.profileImage{
    border-radius: 50%;
    width: 260px;
    border: 5px solid var(--theme-color1);
}

.profileName{
    padding: 0px !important;
    margin: 20px 0px 0px 0px;
}

.teacherData li{
    font-size: 18px;
    color: var(--theme-color1);

}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
   
}

.github {
    background-color: #333;
}

.github:hover {
    background-color: #000;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin:hover {
    background-color: #046293;
}

.instagram{
    background-color: #E4405F;
}

.instagram:hover{
    background-color: #ED616F;
}

.facebook{
    background-color: #3B5998;
}

.facebook:hover{
    background-color: #4C70BA;
}

.social-button i {
    margin-right: 10px;
    font-size: 24px;
}

footer{
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(302deg, #3db153 , #218533);
}

.footerRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.footerRow p{
    padding: 10px 0px;
}

.footerInfo{
    padding: 30px 0px 30px 30px;
    width: 35%;
}

.footerInfo #campus{
    font-size: 18px;
}

.footerInfo p{
    text-align: justify;
}

.footerContact{
    padding: 30px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerContact p{
    font-size: 18px;
    font-weight: 300;
}

.footerSocial{
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    border-radius: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    gap: 5px;
    box-shadow: 5px 5px 15px #00000029;
    
}

.circle{
    border-radius: 50%;
    width: 15px;
    height: 35px;
}

.circle i {
    margin: 0px;
}

.hlt {
    padding: 0px 5px;
    color: var(--theme-color1);
    text-decoration: underline var(--theme-color2) 1.5px;
}


.revealPull{
    position: relative;
    transform: translateX(800px);
    opacity: 0;
    transition: all 2s ease; 
}

.revealPull.activePull{
    transform: translateX(0px);
    opacity: 1;
}


.reveal{
    position: relative;
    opacity: 0;
    transition: all 0.8s ease; 
}

.reveal.active{
    opacity: 1;
}

/* responsividade */


@media (max-width: 850px) {
    header {
        flex-direction: column;
        height: 100%;
        gap: 40px;
        position: relative;
        text-align: center;
    }

    .headerLeft {
        flex-direction: column;
    }
    .headerRight{
        padding-bottom: 30px;
    }
    

    .mainSection {
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 30px;
    }
    
    .mainLeft, .mainRight {
        width: 100%;
    }

    .mainRight{
        justify-content: center;
    }
    
    hr {
        width: 90%;
    }

    .section{
        padding: 30px;
    }

    .teacherInfo{
        flex-direction: column;
        padding: 25px 10px;
        margin: 20px 0px 0px -10px;
    }

    #imgExample {
        width: 100%;
    }

    footer{
        padding: 30px;
        text-align: center;
    }

    .footerRow{
        flex-direction: column;
        gap: 20px;
    }

    .footerInfo{
        padding: 0px;
        width: 100%;
    }

    .footerInfo p{
        text-align: center;
    }

    .footerContact {
        padding: 0px;
    }
}


@media (max-width: 580px) {

    .mainSection, .section{
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        padding: 10px 0px;
        text-align: center;
    }

    .section h2, .section p, .section ul {
        padding: 0px 0px 0px 10px;
    }
}


  


  
